version: "3.9"
services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    environment:
      - PORT=8081
    ports:
      - "8081:8081"

  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    environment:
      - PORT=8080
      - API_BASE_URL=http://backend:8081
    depends_on:
      - backend
    ports:
      - "8080:8080"